.topSection {
    position: relative;
}

.contactName {
    position: absolute;
    bottom: 8px;    
    font-size: 30px;
    bottom: 0;
    padding-left: 10px;
    color: white;
    font-weight: bold;
}